{% extends 'base.html' %}

{% block title_head %}
<title>Auto</title>
{% endblock title_head %}

{% block h1_header %}
{{auto.nombre}}
{% endblock h1_header %}

{% block contenido %}
<form action={% url 'inicio:mostrar_auto' auto.id %} method="POST" enctype='multipart/form-data'>
<li>Marca: {{auto.marca}}</li>
<li>Descripcion: {{auto.descripcion | safe}}</li>
<li>Fecha de fabricacion: {{auto.fecha_fabricacion}}</li>
{% if auto.imagen%}
<li><img src = {{auto.imagen.url}} alt ="iamgen del auto"></li>
{% endif %}

{% endblock contenido %}